In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings(action="ignore")
import pandas_profiling

In [2]:
raw_data1 = pd.read_excel("./Participants Data/Data_Train.xlsx")
test_data = pd.read_excel("./Participants Data/Data_Test.xlsx")
raw_data1['source'] = 'train'
test_data['source'] = 'test'
raw_data = pd.concat([raw_data1,test_data],ignore_index=True)

In [3]:
def keep_only_numeric(df, cols, debug=False):
    
    '''
    This function is to eliminate any non digit characters from a column.
    This function post eliminating the non-digit characters converts the column to numeric.
    '''
    
    if debug:
        print("The data type of cols argument --->",type(cols))
        print("The contents of cols argument --->\n",(cols))
    for i in cols:
        if debug:
            print("\n\nHead of",i,"\n",df[i].head())
        df[i].replace(regex=True,inplace=True,to_replace=r'\D',value=r'')
        df[i] = pd.to_numeric(df[i])
        if debug:
            print("\n\nHead of",i,"after the update\n\n",df[i].head())
        
    return df

In [4]:
def comma_seprated_categories(df, col):
    
    '''
    
    '''
    cols = list(df[col])
    max = 1
    for i in cols:
        if len(i.split(',')) > max:
            max = len(i.split(','))
    print("Max number of",col,"in a cell",max)
    
    all_cats = []
    for i in cols :
     if len(i.split(',')) == 1:
         all_cats.append(i.split(',')[0].strip().upper())
     else :
        for it in range(len(i.split(','))):
            all_cats.append(i.split(',')[it].strip().upper())
    print("\n\nNumber of Unique",col,": ", len(pd.Series(all_cats).unique()))
    print("\n\nUnique",col,":\n", pd.Series(all_cats).unique()) 
    return list(pd.Series(all_cats).unique()),max

In [5]:
def split_comma_seperated_features(df, maximum_features):
    '''
    This is to spilt cusines into maximum_features number of features 
    '''
    global cus_list
    cus_list = []
    for i in range(1,maximum_features+1):
        i = str(i)
        cus_list.append("Cuisines_"+i)
        n = int(i)-1
        df["Cuisines_"+i] = df["Cuisines"].str.split(",",expand = True)[n]
        df["Cuisines_"+i] = df["Cuisines_"+i].str.upper()
        df["Cuisines_"+i] = df["Cuisines_"+i].str.strip()
    return df

In [6]:
#raw_data1.head()

## This is to convert the following columns to numeric
### <br>'Rating',<br>'Votes',<br>'Average_Cost',<br>'Minimum_Order',<br>'Reviews'

In [7]:
num_update_list = ['Rating','Votes','Average_Cost','Minimum_Order','Reviews']
raw_data1 = keep_only_numeric(raw_data1, cols=num_update_list,)

In [8]:
#raw_data1.head()

### The following is to get all the unique columns in Cusines seperated by a comma

In [9]:
all_cusines, maximum = comma_seprated_categories(raw_data1,col='Cuisines')

Max number of Cuisines in a cell 8


Number of Unique Cuisines :  101


Unique Cuisines :
 ['FAST FOOD' 'ROLLS' 'BURGER' 'SALAD' 'WRAPS' 'ICE CREAM' 'DESSERTS'
 'ITALIAN' 'STREET FOOD' 'MUGHLAI' 'NORTH INDIAN' 'CHINESE' 'CAFE'
 'BEVERAGES' 'SOUTH INDIAN' 'THAI' 'ASIAN' 'MITHAI' 'MOMOS' 'INDONESIAN'
 'BIRYANI' 'KERALA' 'BIHARI' 'MEXICAN' 'JAPANESE' 'BAKERY' 'BURMESE'
 'BUBBLE TEA' 'TEA' 'PIZZA' 'LUCKNOWI' 'MANGALOREAN' 'EUROPEAN'
 'CONTINENTAL' 'SANDWICH' 'HEALTHY FOOD' 'BENGALI' 'AMERICAN' 'MISHTI'
 'HYDERABADI' 'ANDHRA' 'ASSAMESE' 'MAHARASHTRIAN' 'GERMAN' 'ARABIAN'
 'FINGER FOOD' 'KEBAB' 'CHETTINAD' 'SEAFOOD' 'JUICES' 'PARSI' 'SUSHI'
 'ODIA' 'TAMIL' 'CANTONESE' 'NORTH EASTERN' 'TIBETAN' 'LEBANESE' 'SPANISH'
 'BAR FOOD' 'KONKAN' 'PAAN' 'STEAK' 'MEDITERRANEAN' 'BOHRI' 'AFGHAN'
 'GOAN' 'GUJARATI' 'BBQ' 'RAW MEATS' 'MALAYSIAN' 'VIETNAMESE' 'SRI LANKAN'
 'RAJASTHANI' 'POKÃ‰' 'ROAST CHICKEN' 'COFFEE' 'BRAZILIAN' 'BELGIAN' 'NAGA'
 'KOREAN' 'MODERN INDIAN' 'AWADHI' 'KASHMIRI' 'FRENCH' 'PORTUGUESE'
 'CHARCOAL CHICKEN' 'FROZEN YOGURT' 'BANGLADESHI' 'MALWANI' 'IRANIAN'
 'NEPALESE' 'INDIAN' 'TEX-MEX' 'HOT DOGS' 'SOUTH AMERICAN'
 'MIDDLE EASTERN' 'AFRICAN' 'TURKISH' 'ISRAELI' 'GREEK']

In [10]:
raw_data1 = split_comma_seperated_features(raw_data1, maximum)

In [11]:
cus_list

['Cuisines_1',
 'Cuisines_2',
 'Cuisines_3',
 'Cuisines_4',
 'Cuisines_5',
 'Cuisines_6',
 'Cuisines_7',
 'Cuisines_8']

In [12]:
raw_data1.head()

,Restaurant,Location,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Delivery_Time,source,Cuisines_1,Cuisines_2,Cuisines_3,Cuisines_4,Cuisines_5,Cuisines_6,Cuisines_7,Cuisines_8
0,ID_6321,"FTI College, Law College Road, Pune","Fast Food, Rolls, Burger, Salad, Wraps",200.0,50,35.0,12.0,4.0,30 minutes,train,FAST FOOD,ROLLS,BURGER,SALAD,WRAPS,None,None,None
1,ID_2882,"Sector 3, Marathalli","Ice Cream, Desserts",100.0,50,35.0,11.0,4.0,30 minutes,train,ICE CREAM,DESSERTS,None,None,None,None,None,None
2,ID_1595,Mumbai Central,"Italian, Street Food, Fast Food",150.0,50,36.0,99.0,30.0,65 minutes,train,ITALIAN,STREET FOOD,FAST FOOD,None,None,None,None,None
3,ID_5929,"Sector 1, Noida","Mughlai, North Indian, Chinese",250.0,99,37.0,176.0,95.0,30 minutes,train,MUGHLAI,NORTH INDIAN,CHINESE,None,None,None,None,None
4,ID_6123,"Rmz Centennial, I Gate, Whitefield","Cafe, Beverages",200.0,99,32.0,521.0,235.0,65 minutes,train,CAFE,BEVERAGES,None,None,None,None,None,None

In [13]:
all_locations = []
for i in raw_data1['Location'].value_counts().items():
    print(i[0])
    all_locations.append(i[0].strip())

Mico Layout, Stage 2, BTM Layout,Bangalore
D-Block, Sector 63, Noida
Sector 1, Noida
FTI College, Law College Road, Pune
Delhi University-GTB Nagar
Laxman Vihar Industrial Area, Sector 3A, Gurgoan
Sector 14, Noida
Delhi Administration Flats, Timarpur
Mumbai Central
Rmz Centennial, I Gate, Whitefield
Delhi High Court, India Gate
MG Road, Pune
Nathan Road, Mangaldas Road, Pune
Sandhurst Road, Mumbai CST Area
Sector 3, Marathalli
Majestic
Delhi Cantt.
Yerawada, Pune, Maharashtra
Dockyard Road, Mumbai CST Area
Babarpur, New Delhi, Delhi
Pune University
Sector 63A,Gurgaon
Moulali, Kolkata
Chandni Chowk, Kolkata
Tejas Nagar Colony, Wadala West, Mumbai
Raja Bazar, Kolkata
Tiretti, Kolkata
Hyderabad Public School, Begumpet
Gora Bazar, Rajbari, North Dumdum, Kolkata
Noorkhan Bazaar, Malakpet, Hyderabad
Musi Nagar, Malakpet, Hyderabad
Panjetan Colony, Malakpet, Hyderabad
Chatta Bazaar, Malakpet, Hyderabad
Jaya Nagar, Saidabad, Hyderabad
BTM Layout 1, Electronic City

In [14]:
#Fill na for the Cusinies missing a value
for i in cus_list:
    raw_data1[i].fillna("NAA", inplace=True)
all_cusines.append("NAA")

In [15]:
from sklearn.preprocessing import LabelEncoder



le_cuisines = LabelEncoder()
le_locality = LabelEncoder()


le_locality.fit(all_locations)
le_cuisines.fit(all_cusines)

LabelEncoder()

In [16]:
raw_data1['Location_Encoded'] = le_locality.transform(raw_data1['Location'])

In [17]:
for i in cus_list:
    raw_data1[i] = le_cuisines.transform(raw_data1[i])

In [18]:
raw_data1.head()

,Restaurant,Location,Cuisines,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Delivery_Time,source,Cuisines_1,Cuisines_2,Cuisines_3,Cuisines_4,Cuisines_5,Cuisines_6,Cuisines_7,Cuisines_8,Location_Encoded
0,ID_6321,"FTI College, Law College Road, Pune","Fast Food, Rolls, Burger, Salad, Wraps",200.0,50,35.0,12.0,4.0,30 minutes,train,31,83,20,84,101,69,69,69,10
1,ID_2882,"Sector 3, Marathalli","Ice Cream, Desserts",100.0,50,35.0,11.0,4.0,30 minutes,train,42,29,69,69,69,69,69,69,30
2,ID_1595,Mumbai Central,"Italian, Street Food, Fast Food",150.0,50,36.0,99.0,30.0,65 minutes,train,47,92,31,69,69,69,69,69,19
3,ID_5929,"Sector 1, Noida","Mughlai, North Indian, Chinese",250.0,99,37.0,176.0,95.0,30 minutes,train,68,73,26,69,69,69,69,69,28
4,ID_6123,"Rmz Centennial, I Gate, Whitefield","Cafe, Beverages",200.0,99,32.0,521.0,235.0,65 minutes,train,22,14,69,69,69,69,69,69,26

In [19]:
test_data = keep_only_numeric(test_data, cols=num_update_list,)
all_cusines, maximum = comma_seprated_categories(test_data,col='Cuisines')
test_data = split_comma_seperated_features(test_data, maximum)


for i in cus_list:
    test_data[i].fillna("NAA", inplace=True)
test_data['Location_Encoded'] = le_locality.transform(test_data['Location'])

for i in cus_list:
    test_data[i] = le_cuisines.transform(test_data[i])

Max number of Cuisines in a cell 8


Number of Unique Cuisines :  86


Unique Cuisines :
 ['NORTH INDIAN' 'CHINESE' 'ASSAMESE' 'BIRYANI' 'KEBAB' 'FAST FOOD'
 'MITHAI' 'SOUTH INDIAN' 'KERALA' 'SEAFOOD' 'MUGHLAI' 'STREET FOOD'
 'BAKERY' 'DESSERTS' 'CAFE' 'CONTINENTAL' 'ITALIAN' 'AFGHAN' 'ASIAN'
 'THAI' 'EUROPEAN' 'MOMOS' 'PIZZA' 'LEBANESE' 'ROLLS' 'BEVERAGES' 'BURGER'
 'ICE CREAM' 'BAR FOOD' 'HEALTHY FOOD' 'SANDWICH' 'MAHARASHTRIAN' 'SALAD'
 'STEAK' 'FINGER FOOD' 'BENGALI' 'ARABIAN' 'BBQ' 'MEXICAN' 'AMERICAN'
 'JUICES' 'MISHTI' 'TEA' 'WRAPS' 'MEDITERRANEAN' 'HYDERABADI' 'RAJASTHANI'
 'ANDHRA' 'PAAN' 'MODERN INDIAN' 'BANGLADESHI' 'COFFEE' 'HOT DOGS'
 'JAPANESE' 'SUSHI' 'BELGIAN' 'ODIA' 'GOAN' 'MANGALOREAN' 'TIBETAN'
 'MALWANI' 'BRAZILIAN' 'MIDDLE EASTERN' 'KOREAN' 'RAW MEATS' 'TURKISH'
 'KASHMIRI' 'LUCKNOWI' 'BURMESE' 'PARSI' 'POKÃ‰' 'MALAYSIAN'
 'ROAST CHICKEN' 'NAGA' 'BIHARI' 'FROZEN YOGURT' 'VIETNAMESE' 'AWADHI'
 'INDIAN' 'FRENCH' 'GERMAN' 'SPANISH' 'NORTH EASTERN' 'CHETTINAD'
 'AFRICAN' 'IRANIAN']

In [20]:
#raw_data1.drop(['Restaurant','Location','Cuisines','source'], inplace=True, axis=1,)
#test_data.drop(['Restaurant','Location','Cuisines','source'], inplace=True, axis=1,)

In [21]:
raw_data1.isnull().sum()

Restaurant             0
Location               0
Cuisines               0
Average_Cost           1
Minimum_Order          0
Rating              1963
Votes               2074
Reviews             2312
Delivery_Time          0
source                 0
Cuisines_1             0
Cuisines_2             0
Cuisines_3             0
Cuisines_4             0
Cuisines_5             0
Cuisines_6             0
Cuisines_7             0
Cuisines_8             0
Location_Encoded       0
dtype: int64

In [22]:
test_data.isnull().sum()

Restaurant            0
Location              0
Cuisines              0
Average_Cost          0
Minimum_Order         0
Rating              507
Votes               542
Reviews             593
source                0
Cuisines_1            0
Cuisines_2            0
Cuisines_3            0
Cuisines_4            0
Cuisines_5            0
Cuisines_6            0
Cuisines_7            0
Cuisines_8            0
Location_Encoded      0
dtype: int64

In [23]:
raw_data1['Rating'].fillna(0, inplace=True)
raw_data1['Votes'].fillna(0,inplace=True)
raw_data1['Reviews'].fillna(0,inplace=True)

In [24]:
test_data['Rating'].fillna(0, inplace=True)
test_data['Votes'].fillna(0,inplace=True)
test_data['Reviews'].fillna(0,inplace=True)

In [25]:
raw_data1.dropna(inplace=True)

In [26]:
raw_data1.isnull().sum()

Restaurant          0
Location            0
Cuisines            0
Average_Cost        0
Minimum_Order       0
Rating              0
Votes               0
Reviews             0
Delivery_Time       0
source              0
Cuisines_1          0
Cuisines_2          0
Cuisines_3          0
Cuisines_4          0
Cuisines_5          0
Cuisines_6          0
Cuisines_7          0
Cuisines_8          0
Location_Encoded    0
dtype: int64

In [27]:
test_data.isnull().sum()

Restaurant          0
Location            0
Cuisines            0
Average_Cost        0
Minimum_Order       0
Rating              0
Votes               0
Reviews             0
source              0
Cuisines_1          0
Cuisines_2          0
Cuisines_3          0
Cuisines_4          0
Cuisines_5          0
Cuisines_6          0
Cuisines_7          0
Cuisines_8          0
Location_Encoded    0
dtype: int64

In [28]:
raw_data1.drop(['Restaurant','Location','Cuisines','source'], inplace=True, axis=1,)
test_data.drop(['Restaurant','Location','Cuisines','source'], inplace=True, axis=1,)

In [29]:
from sklearn import model_selection
from sklearn.metrics import mean_squared_error
import xgboost
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
train_x, valid_x, train_y, valid_y = model_selection.train_test_split(raw_data1.drop(["Delivery_Time"], axis=1), raw_data1['Delivery_Time'])

In [30]:
from sklearn.model_selection import GridSearchCV

In [31]:
RF_G= param_grid={
            'max_depth': [4,8,10,12,14,16],
            'n_estimators': [10,20,30,40,50],
            'min_samples_split': [2, 5, 10]
        },

In [32]:
gsearchRF1 = GridSearchCV(estimator = RandomForestClassifier(),param_grid=RF_G,)

In [33]:
gsearchRF1.fit(train_x,train_y)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators='warn', n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='warn', n_jobs=None,
             param_grid=({'max_depth': [4, 8, 10, 12, 14, 16],
                          'min_samples_split': [2, 5, 10],
                          'n_estimators': [10, 20, 30, 40, 50]},),
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [34]:
gsearchRF1.best_params_

{'max_depth': 16, 'min_samples_split': 2, 'n_estimators': 50}

In [35]:
RandomForestClassifier()

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators='warn',
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)